.post-header
    display: flex
    justify-content: space-between
    cursor: pointer

    .post-edit-icon
        background-image: none !important
        &:hover
            transform: scale(1.1)

html[is-login] .post-header
    .post-edit-icon
        display: flex

html:not([is-login]) .post-header
    .post-edit-icon
        display: none