#editor-page
    --border-color: #575757;

    .editor-toolbar,.editor-toolbar.fullscreen
        border-color: var(--border-color);
        background: $color-background;
        button
            color: $color-text;
            &:hover, &.active
                background: lighten($color-background, 5%);
                border-color: var(--border-color);
        
    .CodeMirror
        border-color: var(--border-color);
        color: $color-text;
        background: $color-background;
        .CodeMirror-cursor
            border-color: $color-text;

    .editor-preview
        border-color: var(--border-color);
        color: $color-text;
        background: $color-background;
        padding: 36px;

    .editor-header
        display: flex;
        align-items: center;
        margin-bottom: 10px

    #header-editor
        margin-bottom: 10px
        .CodeMirror
            border-radius: 4px
        .CodeMirror-lines 
            .cm-header
                font-weight: normal !important;
                font-size: 1em !important;
            .cm-strong 
                font-weight: normal !important;
            .cm-em
                font-style: normal !important;

.button
    color: $color-text;
    margin-left: auto;
    background: transparent;
    border: 1px solid $color-border;
    border-radius: 4px;
    padding: 6px 12px;
    &:hover
        color: $color-accent-1
    &:active
        color: lighten($color-accent-1, 20%)
        border-color: lighten($color-accent-1, 20%)
    i
        margin-right: 3px