#login-button,
#logout-button
    font-size: 16px
    position: fixed
    bottom: 10px
    right: 10px
    border: none
    background-color: transparent
    color: inherit
    cursor: pointer

    &:hover
        transform: scale(1.1)

// html has attribute is-login when user is logged in
html[is-login] #login-button
    display: none

// html does not have attribute is-login when user is logged out
html:not([is-login]) #logout-button
    display: none

#login-form
    display: flex
    flex-direction: column
    align-items: center
    gap: 12px