#login-button
    font-size: 16px
    position: absolute
    bottom: 10px
    right: 10px
    border: none
    background-color: transparent
    color: inherit

    &:hover
        transform: scale(1.1)