<div id="editor-page">
    <div class="editor-header">
        <button class="button" id="save-button">
            <i class="fa-solid fa-floppy-disk"></i>
            Save
        </button>
    </div>
    <div id="header-editor">
        <textarea ></textarea>
    </div>

    <textarea id="editor"></textarea>
</div>
