<div id="editor-page">
    <div class="editor-header">
        <button class="button" id="save-button">
            <i class="fa-solid fa-floppy-disk"></i>
            <i class="fa-solid fa-spinner"></i>
            Save
        </button>
        <button class="button" id="publish-button" style="display: none;">
            <i class="fa-solid fa-upload"></i>
            <i class="fa-solid fa-spinner"></i>
            Publish
        </button>
        <button class="button" id="unpublish-button" style="display: none;">
            <i class="fa-solid fa-download"></i>
            <i class="fa-solid fa-spinner"></i>
            Unpublish
        </button>
        <button class="button" id="delete-button" style="display: none;">
            <i class="fa-solid fa-trash"></i>
            <i class="fa-solid fa-spinner"></i>
            Delete
        </button>
    </div>
    <div id="header-editor">
        <textarea ></textarea>
    </div>

    <div id="content-editor">
        <textarea></textarea>
    </div>
</div>
