<div id="editor-page">
    <div class="editor-header">
        <button class="button">
            <i class="fa-solid fa-floppy-disk"></i>
            Save
        </button>
    </div>
    <textarea id="editor"></textarea>
</div>
