<form id="login-form">
    <h1>
        Login
    </h1>
    <div>
        <label for="username">Username</label>
        <input class="input" type="text" name="username" placeholder="Username" required>
    </div>
    <div>
        <label for="password">Password</label>
        <input class="input" type="password" name="password" placeholder="Password" required>
    </div>
    <div>
        <button class="button" type="submit">
            <i class="fa-solid fa-right-to-bracket"></i>
            Login
        </button>
    </div>
</form>