<a title="Login" id="login-button" href="<%- url_for('/login') %>">
    <i class="fa-solid fa-right-to-bracket"></i>
</a>
<a title="Logout" id="logout-button">
    <i class="fa-solid fa-right-from-bracket"></i>
</a>